APP_NAME=ImteraTest
APP_ENV=local
APP_KEY=base64:D70b16MzX/kboIppQutZ1Kx7oQ6Lxe3dcWNdkRl+abk=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=imtera
DB_USERNAME=root
DB_PASSWORD=secret
DB_ROOT_PASSWORD=secret

CACHE_STORE=redis
CACHE_ORGANIZATION_TTL=3600

QUEUE_CONNECTION=redis

REDIS_CLIENT=predis
REDIS_HOST=mysql
REDIS_PORT=6379
REDIS_CACHE_DB=1

VITE_APP_NAME="${APP_NAME}"
VITE_APP_BASE_URL="${APP_URL}"